{% extends 'base.html' %}
{% load form_tags %}
{% block title %}PROTOTIPO - Registro{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mt-2 mb-5">Registrar nuevo usuario</h2>
                    <form method="post" class="mx-auto" style="max-width: 400px;">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Por favor corrige los siguientes errores:</strong>
                                <ul>
                                    {% for field in form %}
                                    {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        
                        <div class="mb-3 row">
                            <label for="{{ form.username.id_for_label }}" class="col-sm-5 col-form-label">{{ form.username.label }}</label>
                            <div class="col-sm-7">
                                {{ form.username|add_class:"form-control" }}
                                {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="{{ form.email.id_for_label }}" class="col-sm-5 col-form-label">{{ form.email.label }}</label>
                            <div class="col-sm-7">
                                {{ form.email|add_class:"form-control" }}
                                {% if form.email.errors %}
                                <div class="text-danger">
                                    {{ form.email.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="{{ form.password1.id_for_label }}" class="col-sm-5 col-form-label">{{ form.password1.label }}</label>
                            <div class="col-sm-7">
                                {{ form.password1|add_class:"form-control" }}
                                {% if form.password1.errors %}
                                <div class="text-danger">
                                    {{ form.password1.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="{{ form.password2.id_for_label }}" class="col-sm-5 col-form-label">{{ form.password2.label }}</label>
                            <div class="col-sm-7">
                                {{ form.password2|add_class:"form-control" }}
                                {% if form.password2.errors %}
                                <div class="text-danger">
                                    {{ form.password2.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 my-5">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
