<nav class="container navbar navbar-dark navbar-expand-lg bg-secondary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bienvenid@{% if user.is_authenticated %}, {{ user.username }}{% endif %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          {% if user.is_staff %}
            <li><a class="nav-link" href="{% url 'extra_list' %}">Extras</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a class="btn btn-danger" href="{% url 'logout' %}" method="POST">Logout</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <li><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
          {% endif %}
        </div>
      </div>
    </div>
</nav>